<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">AlphaShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/welcome/{{loggedUser()}}">
            <span class="material-icons md-home" title="prodotti" aria-hidden="true"></span>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/articoli">
            <span class="material-icons md-archive" title="prodotti" aria-hidden="true"></span>
            Prodotti
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/promozioni">
            <span class="material-icons md-campaign" title="prodotti" aria-hidden="true"></span>
            Promozioni
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fidelity">
            <span class="material-icons md-card_membership" title="prodotti" aria-hidden="true"></span>
            Fidelity
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ordini">
            <span class="material-icons md-shopping_cart" title="prodotti" aria-hidden="true"></span>
            Ordini
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Cerca</button>
      </form>
      <ul>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
          <img src="/assets/images/user.webp" alt="Avatar Logo" style="width: 40px;" class="user-img rounded-pill">
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Accedi</a></li>
          <li><a class="dropdown-item" href="#">Registrati</a></li>
          <li><a class="dropdown-item" href="#">Disabilita</a></li>
          <li><div class="dropdown-divider"></div></li>
          <li><a class="dropdown-item" *ngIf="isLogged()" routerLink="/logout">Logout {{loggedUser()}}</a></li>
          <li><a class="dropdown-item disabled" *ngIf="!isLogged()" href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</nav>
